@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --animate-border-pulse: borderPulse 2s ease-in-out infinite; 
}

h1 {
    @apply text-4xl font-bold mb-4 px-2 py-2;
}

h1 a {
    text-decoration: none;
    @apply text-black
}

h1 a:hover {
    text-decoration: none;
}
h2 {
    @apply text-3xl font-semibold mb-3;
}
h3 {
    @apply text-2xl font-semibold mb-2;
}

a:hover {
    text-decoration: underline;
}

@keyframes fire-border{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.card {
    @apply bg-gray-100 p-4 flex justify-between items-center;
    @apply dark:bg-gray-900;
}
a.card {
    @apply hover:bg-gray-200;
    @apply dark:hover:bg-gray-800;
}
.highlight {
    @apply border-l-4 border-red-500;
}
.owner {
    @apply border-l-4 border-green-500;
}
.user {
    @apply border-l-4 border-blue-500;
}
.friend {
    @apply border-l-4 border-yellow-500;
}
.fire {
    
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
/* 
.card::before {
    content:"";
    position:relative;
    height:800px;
    width:800px;
    background: linear-gradient(90deg,
        red,
        green
    )
} */

.comment {
    @apply bg-gray-50 items-center p-3 flex flex-col ml-12 mt-4;
    @apply dark:bg-gray-700 dark:text-gray-200
}
.btn {
    @apply items-center px-4 py-2 hover:cursor-pointer;
    @apply bg-gray-200 hover:bg-gray-300;
    @apply dark:bg-gray-600 dark:hover:bg-gray-700;
}
.btn-primary {
    @apply bg-blue-600 hover:bg-blue-700;
}
.form-control {
    @apply mb-2 bg-gray-200 p-1 rounded;
    @apply dark:bg-gray-200 dark:text-gray-800;
    @apply invalid:border-red-500
}
.form {
    @apply flex bg-gray-50 p-4 flex-col w-70 items-center justify-self-center my-20 rounded;
    @apply dark:bg-gray-800;
}
.profile {
    @apply bg-gray-100 flex items-center gap-4 p-4;
    @apply dark:bg-gray-900;
}