@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    @apply bg-gray-200 text-gray-700;
}
h1 {
    @apply text-4xl font-bold mb-4 ;
}
h1 a {
    text-decoration: none;
    @apply text-black
}
h1 a:hover {
    text-decoration: none;
}
h2 {
    @apply text-xl font-semibold mb-3;
}
h3 {
    @apply text-lg font-semibold mb-2;
}
header {
    @apply bg-white p-4 shadow mb-6;
}
nav {
    @apply mb-6 pb-4 flex items-center;    
}
nav a {
    @apply bg-blue-500 rounded-2xl text-white px-4 py-2 mr-2 hover:bg-blue-600 hover:decoration-0;
}
a {
    @apply text-blue-600 hover:underline;
}
ul {
    @apply list-disc list-inside mb-4;
}
ol {
    @apply list-decimal list-inside mb-4;
}
li {
    @apply mb-1;
    text-decoration: none;
    list-style-type: none;

}
li::marker {
    display:none;

}
p {
    @apply mb-4;
}

.card {
    @apply bg-white p-4 rounded-lg shadow mb-4 flex justify-between items-center;
}
.highlight {
    @apply border-l-4 border-red-500;
}
.btn {
    @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600;
}
.btn-primary {
    @apply bg-blue-600 hover:bg-blue-700;
}