@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    @apply bg-gray-200 text-gray-700;
    @apply dark:bg-gray-600 dark:text-gray-200;
}
h1 {
    @apply text-4xl font-bold mb-4 px-2 py-2;
}
h1 a {
    text-decoration: none;
    @apply text-black
}
h1 a:hover {
    text-decoration: none;
}
h2 {
    @apply text-xl font-semibold mb-3;
}
h3 {
    @apply text-lg font-semibold mb-2;
}
header {
    @apply bg-white shadow mb-6;
    @apply dark:bg-gray-800 shadow mb-6;
}
p {
    @apply mb-4;
}

.card {
    @apply bg-white p-4 shadow mb-4 flex justify-between items-center;
    @apply dark:bg-gray-800;
}
.highlight {
    @apply border-l-4 border-red-500;
}
.comment {
    @apply bg-gray-50 w-100 items-center px-2 py-1 flex flex-col;
}
.btn {
    @apply items-center px-4 py-2 hover:cursor-pointer;
    @apply bg-gray-200 hover:bg-gray-300;
    @apply dark:bg-gray-600 dark:hover:bg-gray-700;
}
.btn-primary {
    @apply bg-blue-600 hover:bg-blue-700;
}
